body {
    color: white;
    background: rgb(255, 116, 193);
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(157, 71, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 218, 246);
}

.chamada {
    background: rgb(170, 91, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
